DB_USER=postgres
DB_PASSWORD=your dabase password
DB_SERVER=localhost or db
DB_PORT=5432
DB_NAME=your database name

Note :
* Use with postgreSQL in local not use with docker
DB_SERVER=localhost

* Use with postgreSQL in web server with docker
DB_SERVER=db
